[package]
name = "eventsource-client"
version = "0.3.0"
description = "Client for the Server-Sent Events protocol (aka EventSource)"
repository = "https://github.com/launchdarkly/rust-eventsource-client"
authors = ["Sam Stokes <sstokes@launchdarkly.com>"]
edition = "2018"
license = "Apache-2.0"
exclude = [
  ".circleci/*",
]

[dependencies]
futures = "0.1.25"
log = "0.4.6"
reqwest = "0.9.11"
tokio-timer = "0.2.11"

[dev-dependencies]
maplit = "1.0.1"
simplelog = "0.5.3"
tokio = "0.1.16"
